interface {{ Interface }}
{% if Description %}
 description {{ Description }}
{% endif %}
{% if IP_Address and Subnet_Mask %}
 ip address {{ IP_Address }} {{ Subnet_Mask }}
{% endif %}
{% if VLANMode %}
{% if VLANMode | lower == 'access' %}
 switchport mode access
 switchport access vlan {{ Vlan | default('1') }}
 spanning-tree portfast
{% elif VLANMode | lower == 'trunk' %}
 switchport mode trunk
 switchport trunk allowed vlan {{ TrunkVlan }}
{% endif %}
{% endif %}
{% if Status | lower == 'shutdown' %}
 shutdown
{% else %}
 no shutdown
{% endif %}
!
