!
hostname {{ hostname | default('Switch-01') }}
!
service password-encryption
!
{% if admin_user and admin_password %}
username {{ admin_user }} privilege 15 secret {{ admin_password }}
{% endif %}
!
{% if dns_domain %}
ip domain-name {{ dns_domain }}
{% endif %}
{% for dns in dns_servers %}
ip name-server {{ dns }}
{% endfor %}
!
{% for ntp in ntp_servers %}
ntp server {{ ntp }}
{% endfor %}
!
{% if default_gateway %}
ip default-gateway {{ default_gateway }}
{% endif %}
!
line vty 0 4
 login local
 transport input ssh
!
